html, body, #blocklyDiv {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.blocklyToolboxDiv {
    background-color: #FFFFFF;
}

@media (-webkit-device-pixel-ratio: 2.625) {
    .blocklyTreeLabel {
        font-size: 18px;
        font-weight: 500;
    }
}

/* 갤럭시 노트9 */
@media (-webkit-device-pixel-ratio: 3.0) {
    .blocklyTreeLabel {
        letter-spacing: -0.6px;
        font-size: 12px;
        font-weight: 400;
    }

    .blocklyTreeRow {
        height: 20px;
        line-height: 20px;
        padding-right: 40px;
        margin-bottom: 6px;
    }

    .blocklyText {
        font-size: 12px;
        font-weight: 400;
    }
}

/* 갤럭시 노트4, LG G4 */
@media (-webkit-device-pixel-ratio: 4.0) {
    .blocklyTreeLabel {
        letter-spacing: -0.6px;
        font-size: 13px;
        font-weight: 500;
    }

    .blocklyTreeRow {
        height: 20px;
        line-height: 20px;
        padding-right: 40px;
        margin-bottom: 6px;
    }

    .blocklyText {
        font-size: 12px;
        font-weight: 400;
    }
}

/* HOMTOM  HT16*/
@media (-webkit-device-pixel-ratio: 2.0) {
    .blocklyTreeLabel {
        letter-spacing: -1.2px;
        font-size: 12px;
        font-weight: 400;
    }

    .blocklyTreeRow {
        height: 20px;
        line-height: 20px;
        padding-right: 40px;
        margin-bottom: 6px;
    }

    .blocklyText {
        font-size: 12px;
        font-weight: 400;
    }
}

/* Galaxy Tab S3 */
@media (-webkit-device-pixel-ratio: 1.75) {
    .blocklyTreeLabel {
        letter-spacing: -1.2px;
        font-size: 18px;
        font-weight: 400;
    }

    .blocklyTreeRow {
        height: 40px;
        line-height: 40px;
        padding-right: 40px;
        margin-bottom: 8px;
    }

    .blocklyText {
        font-size: 12px;
        font-weight: 400;
    }
}

@media (-webkit-device-pixel-ratio: 1.125) {
    .blocklyTreeLabel {
        letter-spacing: -1.2px;
        font-size: 18px;
        font-weight: 300;
    }

    .blocklyTreeRow {
        height: 36px;
        line-height: 36px;
        padding-right: 60px;
        margin-bottom: 8px;
    }

    .blocklyText {
        font-size: 12px;
        font-weight: 400;
    }
}

.blocklyFlyoutBackground {
    fill: #FFFFFF;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #FFFFFF;
}

.blocklySvg {
    background-color: #EFEFEF;
}