html, body, #blocklyDiv {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.blocklyToolboxDiv {
    background-color: #FFFFFF;
}

@media (-webkit-device-pixel-ratio: 2.625) {
    .blocklyTreeLabel {
        font-size: 16px;
        font-weight: 300;
    }
}

@media (-webkit-device-pixel-ratio: 1.75) {
    .blocklyTreeLabel {
        font-size: 22px;
        font-weight: 300;
    }
}

.blocklyFlyoutBackground {
    fill: #FFFFFF;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #FFFFFF;
}

.blocklySvg {
    background-color: #ddd;
}